.bg-main-color {
    background-color: rgb(38, 197, 38);
}

.gitcon {
    width: 50px;
}

.project-img {
    width: 100px;
}

.justify {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
